<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="54"
    android:versionName="5.4.0">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    
    <uses-feature 
        android:name="android.hardware.microphone" 
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kookyar"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true">
        
        <activity
            android:name=".GitarTuner"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DisableSoundEffects"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service 
            android:name="org.puredata.android.service.PdService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <activity
            android:name=".About"
            android:label="@string/about"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".TunerHelp"
            android:label="@string/rahnama"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".Prefs"
            android:label="@string/tanzimat"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".Help"
            android:label="@string/rahnama"
            android:exported="false">
        </activity>
    </application>
</manifest>
