<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="50"
    android:versionName="5.0.0">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="true">
        
        <activity
            android:name="com.PouyaApp.kookyargitar.GitarTuner"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DisableSoundEffects"
            android:exported="false">
        </activity>
        
        <activity
            android:name="com.PouyaApp.kookyargitar.StartScreen"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.PouyaApp.kookyargitar.MainMenu"
            android:label="@string/app_name"
            android:exported="false">
        </activity>

        <service 
            android:name="org.puredata.android.service.PdService"
            android:exported="false" />

        <activity
            android:name="com.PouyaApp.kookyargitar.About"
            android:label="@string/about"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false">
        </activity>
        
        <activity
            android:name="com.PouyaApp.kookyargitar.TunerHelp"
            android:label="@string/rahnama"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false">
        </activity>
        
        <activity
            android:name="com.PouyaApp.kookyargitar.Prefs"
            android:label="@string/tanzimat"
            android:exported="false">
        </activity>
        
        <activity
            android:name="com.PouyaApp.kookyargitar.Help"
            android:label="@string/rahnama"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false">
        </activity>
    </application>

</manifest>